# Classification

### THE DATA

** Read in the census_data.csv data with pandas**

In [1]:
import pandas as pd

In [2]:
census= pd.read_csv("case3data.csv")

In [3]:
census.head()

,studentID,grade,year,dropped,zip,ethnicity,sex,gpa,subsidizedLunches,employmentHours,hrsWifiPerWeek,sanctions,librarySwipesPerWeek,apClasses,athleticSeasons
0,12006,12thGrade,2012,0,15232,African American,F,1.89,None,0,4,detention,1,1,0
1,12008,12thGrade,2012,0,15206,African American,M,2.21,Partly,0,10,nothing,3,0,0
2,12009,12thGrade,2012,0,15206,African American,M,2.72,None,0,8,nothing,6,0,0
3,12010,12thGrade,2012,1,15206,White,M,1.67,None,0,4,nothing,6,2,0
4,12014,12thGrade,2012,0,15201,African American,M,2.00,Fully,0,8,nothing,5,0,0

In [21]:
census['ColumnID'] = census['year'].astype(str)
census['apClasses'] = census['apClasses'].astype(str)
census['athleticSeasons'] = census['athleticSeasons'].astype(str)
census['zip'] = census['zip'].astype(str)
census['year'] = census['year'].astype(str)

In [22]:
census.head()

,studentID,grade,year,dropped,zip,ethnicity,sex,gpa,subsidizedLunches,employmentHours,hrsWifiPerWeek,sanctions,librarySwipesPerWeek,apClasses,athleticSeasons,ColumnID
0,12006,12thGrade,2012,0,15232,African American,F,1.89,None,0,4,detention,1,1,0,2012
1,12008,12thGrade,2012,0,15206,African American,M,2.21,Partly,0,10,nothing,3,0,0,2012
2,12009,12thGrade,2012,0,15206,African American,M,2.72,None,0,8,nothing,6,0,0,2012
3,12010,12thGrade,2012,1,15206,White,M,1.67,None,0,4,nothing,6,2,0,2012
4,12014,12thGrade,2012,0,15201,African American,M,2.00,Fully,0,8,nothing,5,0,0,2012

In [23]:
x_data = census.drop(['dropped','studentID'],axis=1)
y_labels = census['dropped']

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
census.columns

Index(['studentID', 'grade', 'year', 'dropped', 'zip', 'ethnicity', 'sex',
       'gpa', 'subsidizedLunches', 'employmentHours', 'hrsWifiPerWeek',
       'sanctions', 'librarySwipesPerWeek', 'apClasses', 'athleticSeasons',
       'ColumnID'],
      dtype='object')

### Perform a Train Test Split on the Data

In [26]:
X_train, X_test, y_train, y_test = train_test_split(x_data,y_labels,test_size=0.3,random_state=101)

In [27]:
census.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17885 entries, 0 to 17884
Data columns (total 16 columns):
studentID               17885 non-null int64
grade                   17885 non-null object
year                    17885 non-null object
dropped                 17885 non-null int64
zip                     17885 non-null object
ethnicity               17885 non-null object
sex                     17885 non-null object
gpa                     17885 non-null float64
subsidizedLunches       17885 non-null object
employmentHours         17885 non-null int64
hrsWifiPerWeek          17885 non-null int64
sanctions               17885 non-null object
librarySwipesPerWeek    17885 non-null int64
apClasses               17885 non-null object
athleticSeasons         17885 non-null object
ColumnID                17885 non-null object
dtypes: float64(1), int64(5), object(10)
memory usage: 2.2+ MB

In [28]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12519 entries, 57 to 13151
Data columns (total 14 columns):
grade                   12519 non-null object
year                    12519 non-null object
zip                     12519 non-null object
ethnicity               12519 non-null object
sex                     12519 non-null object
gpa                     12519 non-null float64
subsidizedLunches       12519 non-null object
employmentHours         12519 non-null int64
hrsWifiPerWeek          12519 non-null int64
sanctions               12519 non-null object
librarySwipesPerWeek    12519 non-null int64
apClasses               12519 non-null object
athleticSeasons         12519 non-null object
ColumnID                12519 non-null object
dtypes: float64(1), int64(3), object(10)
memory usage: 1.4+ MB

### Create the Feature Columns for tf.esitmator

** Take note of categorical vs continuous values! **

In [29]:
census.columns

Index(['studentID', 'grade', 'year', 'dropped', 'zip', 'ethnicity', 'sex',
       'gpa', 'subsidizedLunches', 'employmentHours', 'hrsWifiPerWeek',
       'sanctions', 'librarySwipesPerWeek', 'apClasses', 'athleticSeasons',
       'ColumnID'],
      dtype='object')

** Import Tensorflow **

In [30]:
import tensorflow as tf

** Create the tf.feature_columns for the categorical values. Use vocabulary lists or just use hash buckets. **

In [31]:
sex = tf.feature_column.categorical_column_with_vocabulary_list("sex", ["F", "M"])
grade = tf.feature_column.categorical_column_with_hash_bucket("grade", hash_bucket_size=1000)
zip = tf.feature_column.categorical_column_with_hash_bucket("zip", hash_bucket_size=1000)
ethnicity = tf.feature_column.categorical_column_with_hash_bucket("ethnicity", hash_bucket_size=1000)
subsidizedLunches = tf.feature_column.categorical_column_with_hash_bucket("subsidizedLunches", hash_bucket_size=1000)
sanctions = tf.feature_column.categorical_column_with_hash_bucket("sanctions", hash_bucket_size=1000)
apClasses = tf.feature_column.categorical_column_with_hash_bucket("apClasses", hash_bucket_size=1000)
athleticSeasons = tf.feature_column.categorical_column_with_hash_bucket("athleticSeasons", hash_bucket_size=1000)
year = tf.feature_column.categorical_column_with_hash_bucket("year", hash_bucket_size=1000)

** Create the continuous feature_columns for the continuous values using numeric_column **

In [32]:
gpa = tf.feature_column.numeric_column("gpa")
hrsWifiPerWeek= tf.feature_column.numeric_column("hrsWifiPerWeek")
librarySwipesPerWeek = tf.feature_column.numeric_column("librarySwipesPerWeek")
employmentHours = tf.feature_column.numeric_column("employmentHours")
#apClasses = tf.feature_column.numeric_column("apClasses")

#hours_per_week = tf.feature_column.numeric_column("hours_per_week")

** Put all these variables into a single list with the variable name feat_cols **

In [33]:
feat_cols = [grade, year, zip, ethnicity, sex,
       gpa, subsidizedLunches, employmentHours, hrsWifiPerWeek,
       sanctions, librarySwipesPerWeek, apClasses, athleticSeasons]

### Create Input Function

** Batch_size is up to you. But do make sure to shuffle!**

In [34]:
input_func=tf.estimator.inputs.pandas_input_fn(x=X_train,y=y_train,batch_size=100,num_epochs=None,shuffle=True)

#### Create your model with tf.estimator

**Create a LinearClassifier.(If you want to use a DNNClassifier, keep in mind you'll need to create embedded columns out of the cateogrical feature that use strings, check out the previous lecture on this for more info.)**

In [46]:
# Linear Reg.
model = tf.estimator.LinearClassifier(feature_columns=feat_cols)
# DNNRegressor Model
#model = tf.estimator.DNNRegressor(hidden_units=[14,20,20,20,14],feature_columns=feat_cols)

W0221 18:24:12.785568 25364 estimator.py:1811] Using temporary folder as model directory: C:\Users\caiyi\AppData\Local\Temp\tmpwz_h11tr

** Train your model on the data, for at least 5000 steps. **

In [47]:
model.train(input_fn=input_func,steps=5000)

### Evaluation

** Create a prediction input function. Remember to only supprt X_test data and keep shuffle=False. **

In [37]:
pred_fn = tf.estimator.inputs.pandas_input_fn(x=X_test,batch_size=len(X_test),shuffle=False)

** Use model.predict() and pass in your input function. This will produce a generator of predictions, which you can then transform into a list, with list() **

In [38]:
predictions = list(model.predict(input_fn=pred_fn))

W0221 18:01:56.635376 25364 deprecation.py:323] From C:\Users\caiyi\Anaconda3\lib\site-packages\tensorflow\python\training\saver.py:1276: checkpoint_exists (from tensorflow.python.training.checkpoint_management) is deprecated and will be removed in a future version.
Instructions for updating:
Use standard file APIs to check for files with this prefix.

** Each item in your list will look like this: **

In [39]:
predictions[0]

{'logits': array([-0.5897915], dtype=float32),
 'logistic': array([0.35668272], dtype=float32),
 'probabilities': array([0.6433173, 0.3566827], dtype=float32),
 'class_ids': array([0], dtype=int64),
 'classes': array([b'0'], dtype=object),
 'all_class_ids': array([0, 1]),
 'all_classes': array([b'0', b'1'], dtype=object)}

** Create a list of only the class_ids key values from the prediction list of dictionaries, these are the predictions you will use to compare against the real y_test values. **

In [40]:
final_preds = []
for pred in predictions:
    final_preds.append(pred['class_ids'][0])

In [41]:
final_preds[:10]

[0, 0, 0, 0, 0, 0, 1, 0, 0, 0]

** Import classification_report from sklearn.metrics and then see if you can figure out how to use it to easily get a full report of your model's performance on the test data. **

In [42]:
from sklearn.metrics import classification_report

In [43]:
print(classification_report(y_test,final_preds))

              precision    recall  f1-score   support

           0       0.95      1.00      0.97      5037
           1       0.76      0.19      0.31       329

    accuracy                           0.95      5366
   macro avg       0.85      0.59      0.64      5366
weighted avg       0.94      0.95      0.93      5366

# Great Job!